/* Set the scrolling behavior to smooth */
html {
	scroll-behavior: smooth;
}

/* Set the foreground color value for body */
body {
	color: #161616;
}

/* Set the foreground color value for all anchor elements */
a {
	color: #161616;
}

/* Set the display value for elements with class visually-hidden */
.visually-hidden {
	display: none;
}

/* Set the foreground color value for elements with class card-category */
.card-category {
	color: #D73953;
}

/* Set the foreground color value for elements with class section-tagline */
.section-tagline {
	color: #D73953;
}
